<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="Segmentflow Connect">
            <directory suffix=".php">tests/</directory>
            <exclude>tests/helpers/</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">includes/</directory>
            <directory suffix=".php">admin/</directory>
            <directory suffix=".php">integrations/</directory>
            <file>segmentflow-connect.php</file>
        </include>
    </coverage>
</phpunit>
